/* Import styles first */
@import 'highlight.js/styles/github-dark.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

* { box-sizing: border-box; }
html, body, #root { height: 100%; }
body { margin: 0; }


